@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
// fonts
$Trade-gothic: 'Lato',
sans-serif;

// colors
$Dark-pink: #E9204F;
$Black: #101010;
$Gray: #F3F3F3;

html {
    scroll-behavior: smooth;

    body {
        font-family: $Trade-gothic;

        *:focus {
            outline: none;
        }

        *::selection {
            background-color: #86868642;
            color: black
        }

        a {
            text-decoration: none;
        }

        div.container {
            max-width: 1900px;
            margin: auto;

            // H E A D E R
            header {
                background-color: black;
                padding: 0px 50px;
                display: flex;
                height: 170px;

                div.logo {
                    display: flex;
                    align-items: center;
                    margin: 40px;

                    img {
                        box-sizing: border-box;
                        display: block;
                        width: 170px;
                    }
                }

                nav {
                    font-weight: bold;
                    width: 100%;

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        margin: 0;
                        height: 100%;
                        align-items: center;
                        justify-content: space-around;

                        .selected-line {
                            background-color: $Dark-pink !important;
                            width: 70% !important;
                        }

                        .line {
                            width: 0;
                            margin-top: 1px;
                            height: 2px;
                            transition: 0.5s;
                            background-color: white;
                        }

                        li:hover .line {
                            background-color: $Dark-pink;
                            width: 70%;
                        }

                        a {
                            color: white;
                        }
                    }
                }
            }

            // G E T T I N G    S T A R T E D
            section.header-content {
                background-color: white;

                div.getting-started {
                    padding: 50px;
                    background-color: black;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;

                    >* {
                        margin: 40px 0px;
                    }

                    hr.small {
                        border-width: 0px;
                        height: 3px;
                        width: 70px;
                        margin: 0;
                        margin-bottom: 30px;
                        background-color: $Dark-pink;
                    }

                    h1 {
                        margin: 0px;
                        font-size: 92px;
                        font-weight: 900;
                        width: 70%;
                    }

                    a {
                        border: 2px solid $Dark-pink;
                        color: white;
                        padding: 15px 30px;
                        position: relative;
                        z-index: 0;
                        font-weight: bold;

                        .fill {
                            position: absolute;
                            background-color: $Dark-pink;
                            z-index: -1;
                            width: 0%;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            transition-duration: 0.5s;
                            transition-timing-function: cubic-bezier(0.13, 1, 0.920, 1);
                        }

                        &:hover .fill {
                            width: 100%;
                        }
                    }
                }
            }

            // I T E M S
            section.items {
                background-color: black;
                position: relative;
                z-index: 1;
                display: flex;
                flex-wrap: wrap;
                padding: 50px;
                padding-bottom: 0px;

                * {
                    transition: 0.2s;
                }

                a.item {
                    flex: 1;
                    min-width: 200px;
                    background-color: #222222;
                    color: white;
                    padding: 40px 20px;
                    margin: 20px;

                    hr {
                        color: $Dark-pink;
                        width: 20%;
                        margin-left: 0;
                    }

                    i.fas {
                        color: $Dark-pink;
                        font-size: 44px;
                    }

                    p.header {
                        font-size: 18px;
                        font-weight: bolder;
                    }

                    p.content {
                        line-height: 24px;
                        margin: 0;
                    }

                    &:hover {
                        background-color: $Dark-pink;

                        i.fas,
                        hr {
                            color: white;
                        }
                    }
                }

                a.selected {
                    background-color: $Dark-pink;

                    i.fas,
                    hr {
                        color: white;
                    }
                }
            }

            section.designed a.selected p.content::after {
                content: '';
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 60px;
                background-color: #ac0028;
            }

            // S E R V I C E S
            section.services {
                padding: 80px;
                background-color: white;
                color: black;

                div.header {

                    hr.small {
                        border-width: 0px;
                        height: 2px;
                        width: 50px;
                        margin-left: 0;
                        background-color: $Dark-pink;
                    }

                    h2.services {
                        color: $Black;
                        font-size: 48px;
                        font-weight: 900;
                        margin: 0;
                    }

                    p.content {
                        text-transform: uppercase;
                        font-weight: bold;
                        letter-spacing: -0.5px;
                        color: $Dark-pink;
                        margin: 0;
                    }
                }

                div.services-grid {
                    margin-top: 70px;
                    height: 370px;
                    display: grid;
                    grid: repeat(3, 1fr) / repeat(3, 1fr);
                    gap: 30px;

                    a.item {
                        color: $Black;
                        background-color: $Gray;
                        display: flex;
                        align-items: center;
                        padding: 0px 20px;
                        transition-duration: 0.3s;

                        h3.service {
                            font-size: 20px;
                            font-weight: 900;
                            margin: 0;
                            flex: 1;
                        }

                        i.fas {
                            font-size: 28px;
                        }

                        &:hover {
                            background-color: $Dark-pink;
                            color: white;
                            padding: 0px 20px 0px 40px;
                        }
                    }

                    a.selected {
                        background-color: $Dark-pink;
                        color: white;
                        padding: 0px 20px 0px 40px;
                    }
                }
            }
        }
    }
}