@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
a.btn-address {
  border: 2px solid #E9204F;
  color: white;
  padding: 15px 30px;
  position: relative;
  z-index: 0;
  font-weight: 900;
}

a.btn-address .fill {
  position: absolute;
  background-color: #E9204F;
  z-index: -1;
  width: 0%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.13, 1, 0.92, 1);
          transition-timing-function: cubic-bezier(0.13, 1, 0.92, 1);
}

a.btn-address:hover .fill {
  width: 100%;
}

section div.header hr.small {
  border-width: 0px;
  height: 2px;
  width: 50px;
  margin-left: 0;
  background-color: #E9204F;
}

section div.header h2.services {
  color: #101010;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

section div.header p.content {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #E9204F;
  margin: 0;
}

hr.vertical {
  border-width: 0px;
  height: 60px;
  margin: 70px auto;
  width: 2px;
  background-color: #E9204F;
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Lato", sans-serif;
}

html body *:focus {
  outline: none;
}

html body *::-moz-selection {
  background-color: #86868642;
  color: black;
}

html body *::selection {
  background-color: #86868642;
  color: black;
}

html body a {
  text-decoration: none;
}

html body div.container {
  max-width: 1900px;
  margin: auto;
}

html body div.container header {
  background-color: black;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
}

html body div.container header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
}

html body div.container header div.logo img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 170px;
}

html body div.container header nav {
  font-weight: bold;
  width: 100%;
}

html body div.container header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body div.container header nav ul .selected-line {
  background-color: #E9204F !important;
  width: 70% !important;
}

html body div.container header nav ul .line {
  width: 0;
  margin-top: 1px;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
}

html body div.container header nav ul li:hover .line {
  background-color: #E9204F;
  width: 70%;
}

html body div.container header nav ul a {
  color: white;
}

html body div.container section.header-content {
  background-color: white;
}

html body div.container section.header-content div.getting-started {
  padding: 50px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body div.container section.header-content div.getting-started > * {
  margin: 40px 0px;
}

html body div.container section.header-content div.getting-started hr.small {
  border-width: 0px;
  height: 3px;
  width: 70px;
  margin: 0;
  margin-bottom: 30px;
  background-color: #E9204F;
}

html body div.container section.header-content div.getting-started h1 {
  margin: 0px;
  font-size: 92px;
  font-weight: 900;
  width: 70%;
}

html body div.container section.items {
  background-color: black;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
  padding-bottom: 0px;
}

html body div.container section.items * {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body div.container section.items a.item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
  background-color: #222222;
  color: white;
  padding: 40px 20px;
  margin: 20px;
}

html body div.container section.items a.item hr {
  color: #E9204F;
  width: 20%;
  margin-left: 0;
}

html body div.container section.items a.item i.fas {
  color: #E9204F;
  font-size: 44px;
}

html body div.container section.items a.item p.header {
  font-size: 18px;
  font-weight: bolder;
}

html body div.container section.items a.item p.content {
  line-height: 24px;
  margin: 0;
}

html body div.container section.items a.item:hover {
  background-color: #E9204F;
}

html body div.container section.items a.item:hover i.fas,
html body div.container section.items a.item:hover hr {
  color: white;
}

html body div.container section.items a.selected {
  background-color: #E9204F;
}

html body div.container section.items a.selected i.fas,
html body div.container section.items a.selected hr {
  color: white;
}

html body div.container section.items a.selected p.content::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ac0028;
}

html body div.container section.services {
  padding: 80px;
  padding-top: 0;
  background-color: white;
  color: black;
}

html body div.container section.services div.services-grid {
  margin-top: 70px;
  height: 370px;
  display: -ms-grid;
  display: grid;
  grid: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 30px;
}

html body div.container section.services div.services-grid a.item {
  color: #101010;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html body div.container section.services div.services-grid a.item h3.service {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html body div.container section.services div.services-grid a.item i.fas {
  font-size: 28px;
}

html body div.container section.services div.services-grid a.item:hover {
  background-color: #E9204F;
  color: white;
  padding: 0px 20px 0px 40px;
}

html body div.container section.services div.services-grid a.selected {
  background-color: #E9204F;
  color: white;
  padding: 0px 20px 0px 40px;
}

html body div.container section.works div.header {
  padding: 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body div.container section.works div.header div.words {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html body div.container section.works div.header a.btn-address {
  color: black;
}

html body div.container section.works div.header a.btn-address:hover {
  color: white;
}

html body div.container section.works div.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0px;
}

html body div.container section.works div.items a.item {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 30%;
  overflow: hidden;
}

html body div.container section.works div.items a.item img {
  height: 100%;
  width: 100%;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

html body div.container section.works div.items a.item:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body div.container section.works div.items a.item div.content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0303034d;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

html body div.container section.works div.items a.item div.content h3.header {
  font-weight: 900;
  font-size: 24px;
}

html body div.container section.works div.items a.item div.content * {
  color: white;
  margin: 0;
  margin-right: 20px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html body div.container section.works div.items a.item:hover div.content {
  visibility: visible;
}

html body div.container section.works div.items a.item:hover div.content * {
  opacity: 1;
  margin-right: 0px;
}
/*# sourceMappingURL=Style.css.map */